body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(204,204,204);
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
  background-image: url('./images/bloc-logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.author {
  margin-top: 20px;
}

figcaption {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 20px;
}

p {
  font-size: 100%;
  line-height: normal;
  color: #000000;
  margin-bottom: 20px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  background-image: url ('./images/instagram-pic.jpg');
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link { color:#0070BB; }

a:visited { color:#BB0070; }

a:hover { color:#0064A8; }

a:active { color:#089cff; }
